@keyframes pulse {
    0% {
      background-color: #4a5568;
    }
    100% {
      background-color: #f56565;
    }
  }
  
  @keyframes inversePulse {
    0% {
        color: #f56565;
    }
    100% {
        color: #4a5568;
    }
  }
  

  #transitionWrapper {
    animation: pulse 0.5s infinite;
  }

  #transitionMessageWrapper {
    animation: inversePulse 0.5s infinite;
  }